.project-page-text-intro {
  padding: 1em 0;
  @include mq(sm) {
    padding: 2em 0;
  }
  @include mq(md) {
    padding: 3em 0;
  }
  @include mq(lg) {
    padding: 4em 0;
  }
  @include mq(xl) {
    padding: 5em 0;
  }
  .row {
    @include mq(lg) {
      width: 70%;
      margin-left: 15%;
      line-height: 2em;
    }
  }
}