.services-section {
	padding: 0 2em 1em 1em;

	@include mq(sm) {
		padding: 0 0 1em 0;
	}

	@include mq(sm) {
		padding: 0 0 2em 0;
	}

	.badge {
		display: block;
		background-size: cover;
		background-position: center;
		position: absolute;
		right: 1em;
		width: 8em;
		height: 9em;
		top: -1em;
		@include mq(md) {
			position: relative;
			margin-left: 3em;
			width: 14em;
			height: 14em;
			right: 0;
			top: 0;
		}

		@include mq(xl) {
			width: 16em;
			height: 16em;
		}
	}

	p {
		line-height: 1.5em;

		@include mq(lg) {
			line-height: 2em;
		}
	}

	h2,
	.h2 {
		width: 50%;

		@include mq(sm) {
			width: 100%;
		}
	}
}

.service-page-banner {
	padding: 3em 0 3em 0;

	@include mq(lg) {
		padding: 5em 0 2em 0;
	}

	@include mq(xl) {
		padding: 7em 0 2em 0;
	}

	position: relative;

	h1 {
		font-size: 4em;
		padding: 0.5em 0;
		line-height: .9em;

		@include mq(sm) {
			font-size: 6em;
		}

		@include mq(md) {
			font-size: 7em;
		}

		@include mq(lg) {
			font-size: 8em;
		}

		@include mq(xl) {
			font-size: 10em;
		}
	}
}

.service-page-fold {
}

.fold-arrow:after {
	content: "";
	display: block;
	border-width: 2.5em 2.5em 0;
	border-style: solid;
	margin-left: -2.5em;
	position: absolute;
	left: 50%;
	border-top-color: transparent;
	top: auto;
	bottom: -2em;
	border-bottom-width: 0;
	border-top-width: 2em;
}
